<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>High-Fidelity-(Delivery)</title>
    <link rel="stylesheet" href="../src/css/delivery.css">
</head>
<body>
    <header>
        <button class="back__button">
            <a href="#"><img src="../src/storage/img/Arrow-left.png"></a>
        </button>
        <button class="gps__button">
            <a href="#"><img src="../src/storage/img/gps.png"></a>
        </button>
    </header>
</body>
</html>