<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery</title>
    <link rel="stylesheet" href="../src/css/delivery.css">
</head>
<body>
    <header>
        <button class="boton__regresar">
            <a href="../views/home.html"><img src="../src/storage/img/Arrow-left.png"></a>
        </button>
        <button class="boton__gps">
            <a href="../views/delivery.html"><img src="../src/storage/img/gps.png"></a>
        </button>
    </header>
    <main>
        <section class="seccion__mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3959.5572177341955!2d-73.1271911!3d7.0611969!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e683f18ef59f9a1%3A0xffbf118f3e8f20c!2sZona Franca Santander!5e0!3m2!1ses!2sco!4v1740605465783!5m2!1ses!2sco" width="450" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
    </main>
    <footer>
        <section class="seccion__cuadro">
            <div class="indicador1"></div>
            <p class="titulo">10 minutes left</p>
            <div class="cuadro__info-repartidor"><p class="repartidor1">Delivery to</p>
                <p class="repartidor2">Jl. Kpg Sutoyo</p></div>
            <div class="indicadores">
                <div class="indicador2"></div>
                <div class="indicador3"></div>
                <div class="indicador4"></div>
                <div class="indicador5"></div>
            </div>
            <section class="seccion__cuadro2">
                <div class="cuadro3">
                    <img src="../src/storage/img/Delivery.png" class="pedido">
                </div>
                <div class="cuadro__info-pedido">
                    <p class="titulo__cuadro-pedido">Delivered your order<p>
                    <p class="texto__cuadro-pedido">We will deliver your goods to you in the shortes possible time.</p>
                </div>
            </section class="seccion__repartidor">
            <img src="../src/storage/img/Man.png" class="hombre">
            <p class="nombre__hombre">Brooklyn Simmons</p>
            <p class="puesto__hombre">Personal Courier</p>
            <div class="cuadro__telefono">
                <a href="tel://3170783647"><img src="../src/storage/img/Contact.png" class="telefono"></a>
            </div>
        </section>
    </footer>
</body>
</html>