<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee-Shop-Mobile-App-Design</title>
    <link rel="stylesheet" href="../src/css/detail-item.css">
</head>
<body>
    <header>
        <div class="detail-item">
            <a href="####"><img src="../src/storage/img/Arrow-left.png" alt=""></a>
            <p>Detail</p>
            <img src="../src/storage/img/Like.png" alt="">
        </div>
        <div class="imagen">
        <img src="../src/storage/img/Coffee-2.png" alt="">
        </div>
        <div class="texto">
            <p>Caffe Mocha</p>
         </div>
    </header>
    <main>
        <div class="frio">
        <p>ice/Hot</p>
        </div>
        <div class="imagenes_2">
        <img src="../src/storage/img/Delivery.png" class="delivery">
        <img src="../src/storage/img/Coffee-grain.png" class="coffee-grain">
        <img src="../src/storage/img/Milk.png" class="milk">
        </div>
    </main>
    <footer>
        <p class="rating">
            <div class="imagenes_3">
            <img src="../src/storage/img/Rating.png" alt="" class="rating-image">
            <h1 class="rating-score">4.8</h1>
            <span class="rating-count">(230)</span>
        </div>
        <div>
            <p>Description</p>
            <p>A cappuccino is an approximately 150 ml (5 oz) beverage, with 25 ml of espresso coffee and 85ml of fresh milk the fo..</p>
        </div>
        </p>
    </footer>
    
    
</body>
</html>