<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee-Shop-Mobile-App-Design</title>
    <link rel="stylesheet" href="../src/css/detail-item.css">
</head>
<body>
    <header>
        <div class="detail-item">
            <a href="####"><img src="../src/storage/img/Arrow-left.png" alt=""></a>
            <p>Detail</p>
            <img src="../src/storage/img/Like.png" alt="">
        </div>
        <div class="imagen">
        <img src="../src/storage/img/Coffee-2.png" alt="">
        </div>
    </header>
    
</body>
</html>