<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../src/css/home.css">
</head>
<body>
    <header>
        <div class="localizacion">
            <p id="locacion">Location</p>
            <div class="informacion__usuario">
                <p>Bilzen, Tanjungbalai</p>
                <img src="../src/storage/img/Arrow-down-white.png" alt="">
            </div>
        </div>
        <nav class="busqueda__producto">
            <form class="form__busqueda" method="get">
                <div class="input__logo">
                    <input type="text" name="buscar" placeholder="Search coffee">
                </div>
                <div class="boton__filtro">
                    <button> <img src="../src/storage/img/Settings-white.png" alt=""></button>              
                </div>
            </form>
        <div class="promo">
            <div class="banner">
              
            </div>
            <p>Promo</p>
            <br>
            <strong>Buy one get <br> </strong>
            <strong>one FREE</strong>
        </div>
    </header>
    <main>
        <nav>
            <ul class="nav__categoria">
                <li class="select"><a href="#">All Coffee</a></li>
                <li><a href="#">Machiato</a></li>
                <li><a href="#">Latte</a></li>
                <li><a href="#">Americano</a></li>
            </ul>
        </nav>
        <section class="seccion__productos">
            <article class="article__contenedor">
                <a href="#" ><img src="../src/storage/img/Coffee-2.png">
                    <div class="valoracion">
                        <img src="../src/storage/img/star.png" alt=""> <p>4.8</p>
                    </div>    
                </a>
                
                <div class="div__informacion">
                    <strong>Caffe Mocha</strong>
                    <p>Deep Foam</p>
                </div>
                <div class="boton__adicionProducto">
                    <strong>$ 4.53</strong>
                    <a href="#"><img src="../src/storage/img/Add.png" alt=""></a>
                </div>
            </article>
            <article class="article__contenedor">
                <a href="#"><img src="../src/storage/img/Coffee-3.png">
                    <div class="valoracion">
                        <img src="../src/storage/img/star.png" alt=""> <p>4.8</p>
                    </div>  
                </a>
                  
                <div class="div__informacion">
                    <strong>Flat White</strong>
                    <p>Espresso</p>
                    
                </div>
                <div class="boton__adicionProducto">
                    <strong>$ 3.53</strong>
                    <a href="#"><img src="../src/storage/img/Add.png" alt=""></a>
                </div>

            </article>
            <article class="article__contenedor">
                <a href="#"><img src="../src/storage/img/Coffee-5.png">
                    <div class="valoracion">
                        <img src="../src/storage/img/star.png" alt=""> <p>4.8</p>
                    </div>    
                </a>
                
                <div class="div__informacion">
                    <strong>Caffe Mocha</strong>
                    <p>Deep Foam</p>
                    
                </div>
                <div class="boton__adicionProducto">
                    <strong>$ 4.53</strong>
                    <a href="#"><img src="../src/storage/img/Add.png" alt=""></a>
                </div>

            </article>
            <article class="article__contenedor">
                <a href="#"><img src="../src/storage/img/Coffee-4.png">
                    <div class="valoracion">
                        <img src="../src/storage/img/star.png" alt=""> <p>4.8</p>
                    </div>   
                </a> 
                <div class="div__informacion">
                    <strong>Caffe Mocha</strong>
                    <p>Deep Foam</p>
                    
                </div>
                <div class="boton__adicionProducto">
                    <strong>$ 4.53</strong>
                    <a href="#"><img src="../src/storage/img/Add.png" alt=""></a>
                </div>

            </article>
        </section>
    </main>
    <footer>
        <div class="seccion__footer">
            <a href="#"><div class="seleccionado"><img src="../src/storage/img/Home.png" alt=""> <img src="../src/storage/img/Dot.png" alt="" class="seleccion__baja"></div></a>
            <a href="#"><img src="../src/storage/img/Like.png" alt=""></a>
            <a href="#"><img src="../src/storage/img/Shopping.png" alt=""></a>
            <a href="#"><img src="../src/storage/img/Notification.png" alt=""></a>
        </div>
    </footer>
</body>
</html>