<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../src/css/home.css">
</head>
<body>
    <header>
        <div class="localizacion">
            <p id="locacion">Location</p>
            <div class="informacion__usuario">
                <p>Bilzen, Tanjungbalai</p>
                <img src="../src/storage/img/Arrow-down-white.png" alt="">
            </div>
        </div>
        <nav class="busqueda__producto">
            <form class="form__busqueda" method="get">
                <div class="input__logo">
                    <input type="text" name="buscar" placeholder="Search coffee">
                </div>
                <div class="input__filtro">
                    <input type="submit" value="">
                </div>
            </form>
        <div class="promo">
            <p>Promo</p>
            <strong>Buy one get one FREE</strong>
        </div>
    </header>
    <main>
            <ul class="nav__categoria">
                <li class="select"><a href="#">All Coffee</a></li>
                <li><a href="#">Machiato</a></li>
                <li><a href="#">Latte</a></li>
                <li><a href="#">Americano</a></li>
            </ul>
        </nav>
        <section class="seccion__productos">
            <article class="article__contenedor">
                <a href="#"><img src="../src/storage/img/Coffee-2.png"></a>
                <div class="valoracion">
                    <img src="../src/storage/img/star.png" alt=""> <p>4.8</p>
                </div>    
                <div class="div__informacion">
                    <strong>Caffe Mocha</strong>
                    <p>Deep Foam</p>
                    <strong>$ 4.53</strong>
                </div>
                <div class="boton__adicionProducto">
                    <img src="../src/storage/img/Add.png" alt="">
                </div>

            </article>
            <article class="article__contenedor">
                <a href="#"><img src="../src/storage/img/Coffee-3.png"></a>
                <div class="valoracion">
                    <img src="../src/storage/img/star.png" alt=""> <p>4.8</p>
                </div>    
                <div class="div__informacion">
                    <strong>Flat White</strong>
                    <p>Espresso</p>
                    <strong>$ 3.53</strong>
                </div>
                <div class="boton__adicionProducto">
                    <img src="../src/storage/img/Add.png" alt="">
                </div>

            </article>
            <article class="article__contenedor">
                <a href="#"><img src="../src/storage/img/Coffee-5.png"></a>
                <div class="valoracion">
                    <img src="../src/storage/img/star.png" alt=""> <p>4.8</p>
                </div>    
                <div class="div__informacion">
                    <strong>Caffe Mocha</strong>
                    <p>Deep Foam</p>
                    <strong>$ 4.53</strong>
                </div>
                <div class="boton__adicionProducto">
                    <img src="../src/storage/img/Add.png" alt="">
                </div>

            </article>
            <article class="article__contenedor">
                <a href="#"><img src="../src/storage/img/Coffee-4.png"></a>
                <div class="valoracion">
                    <img src="../src/storage/img/star.png" alt=""> <p>4.8</p>
                </div>    
                <div class="div__informacion">
                    <strong>Caffe Mocha</strong>
                    <p>Deep Foam</p>
                    <strong>$ 4.53</strong>
                </div>
                <div class="boton__adicionProducto">
                    <img src="../src/storage/img/Add.png" alt="">
                </div>

            </article>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>