<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
    <link rel="stylesheet" href="../src/css/order.css">
</head>
<body>
    <header>
        <section class="seccion__header">
            <button class="regreso">
                <a href="#"><img src="../src/storage/img/Arrow-left.png"></a>
            </button>
            <h1 class="titulo__header">Order</h1>
            <span></span>
        </section>
        <div class="tipo__pedido">
            <div class="opciones">
                <a href="#" class="activo">Deliver</a>
                <a href="#">Pick Up</a>
            </div>
        </div>
        <div class="direccion__informacion">
            <div class="datos__usuario">
                <strong>Delivery adress</strong>
                <b>Jl. Kpg Sutoyo</b>
                <p>Kpg. Sutoyo No. 620, Bilzen, Tanjungbalai.</p>
            </div>
            <div class="opciones__edicion">
                <div class="opcion__1">
                    <img src="../src/storage/img/Edit.png" alt="">
                    <p>Edit Adress</p>
                </div>
                <div class="opcion__2">
                    <img src="../src/storage/img/Note.png" alt="">
                    <p>Add Note</p>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="contenedor__producto">
            <img src="../src/storage/img/Linea-order.png" alt="">
            <div class="informacion__producto">
                <div class="contenedor__informacion">
                    <img src="../src/storage/img/Coffee-2.png" alt="" class="icono__cafe">
                    <div class="textos__informacionProducto">
                        <strong>Caffe Mocha</strong>
                        <p>Deep Foam</p>
                    </div>
                </div>
                <div class="cantidad__productos">
                    <button>
                        <img src="../src/storage/img/Minus-circle.png" alt="">
                    </button>
                    <p>1</p>
                    <button>
                        <img src="../src/storage/img/Plus-circle.png" alt="">
                    </button>
                </div>
                
            </div>
            <img src="../src/storage/img/Linea-2-order.png" alt="">
        </div>

        <div class="descuento">
            <div class="seccion__descuento_1"><img src="../src/storage/img/Discount-color.png" alt="">
                <a href="#">1 Discount is Applies</a>
            </div>
            <button><img src="../src/storage/img/Arrow-right.png" alt=""></button>

        </div>
        <div class="resumen__pago">
            <strong>Payment Summary</strong>
            <div class="seccion__resumen">
                <div class="seccion__precio">
                    <p>Price</p>
                    <b>$ 4.53</b>
                </div>
                <div class="seccion__delivery">
                    <p>Delivery Fee</p>
                    <div class="precio__delivery">
                        <p class="tachado">$2.0</p>
                        <b>$ 1.0</b>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
