<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
    <link rel="stylesheet" href="../src/css/order.css">
</head>
<body>
    <header>
        <section class="seccion__header">
            <button class="regreso">
                <a href="#"><img src="../src/storage/img/Arrow-left.png"></a>
            </button>
            <h1 class="titulo__header">Order</h1>
            <span></span>
        </section>
    </header>
</body>
</html>