<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
    <link rel="stylesheet" href="../src/css/order.css">
</head>
<body>
    <main>
        <div class="contenedor__producto">
            <img src="../src/storage/img/Linea-order.png" alt="">
            <div class="informacion__producto">
                <div class="contenedor__informacion">
                    <img src="../src/storage/img/Coffee-2.png" alt="" class="icono__cafe">
                    <div class="textos__informacionProducto">
                        <strong>Caffe Mocha</strong>
                        <p>Deep Foam</p>
                    </div>
                </div>
                <div class="cantidad__productos">
                    <button>
                        <img src="../src/storage/img/Minus-circle.png" alt="">
                    </button>
                    <p>1</p>
                    <button>
                        <img src="../src/storage/img/Plus-circle.png" alt="">
                    </button>
                </div>
                
            </div>
            <img src="../src/storage/img/Linea-2-order.png" alt="">
        </div>

        <div class="descuento">
            <div class="seccion__descuento_1"><img src="../src/storage/img/Discount-color.png" alt="">
                <a href="#">1 Discount is Applies</a>
            </div>
            <button><img src="../src/storage/img/Arrow-right.png" alt=""></button>

        </div>
    </main>
</body>
</html>
