@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*********** Header ************/
header{
    justify-content: space-between;
}
.boton__regresar{
    position: absolute;
    top: 16px;
    left: 24px;
    width: 50px;
    height: 50px;
    border-radius: 12px;
    border: none;
}
.boton__regresar img{
    width: 30px;
}
.boton__gps{
    position: absolute;
    top: 16px;
    right: 24px;
    width: 50px;
    height: 50px;
    border-radius: 12px;
    border: none;
}
.boton__gps img{
    width: 30px;
}
/******************************/