@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
}
.detail-item{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;
}

.detail-item a{
    width: 24px;
    height: 24px;
    margin: 0px 0px 0px 15px ;
}
.detail-item p{

    width: 49;
    height: 19;
    font-family: "Sora-SemiBold";
    font-size: 16;
    margin: 0px 0px 0px 0px ;
    line-height: 120%;
}

.detail-item img {
    width: 24;
    height: 24;
    margin: 0px 20px 0px 0px ;
}
.imagen img{
    display: flex;
    width: 327px;
    height: 202px;
    margin: 24px 0px 0px 23px ;
    border-radius: 20px;
}
.texto p {
    display: flex;
    font-family: "Sora-SemiBold";
    font-size: 20px;
    color: #000000;
    margin: 16px 0px 0px 24px ;
}
main{
    display: flex;
    justify-content: space-between;
}

.frio p{
    display: flex;
    width: 46px;
    height: 14px;
    margin: 4px 0px 0px 24px ;
    font-size: "Sora-Regular";
    font-family: var(--color-3) ;
}
.imagenes_2 img{
    display: flex;
    background-color: #EDEDED;
    display: flex;
    width: 40px;
    height: 40px;
    margin: 0px 120px 0px 0px ;
    border-radius: 9px ;
}

.imagenes_2 .delivery{
    display: flex;
    margin: 0px 140px 0px 0px ;
}
.imagenes_2 .coffee-grain{
    display: flex;
    margin: -40px 0px 0px 55px;
}
.imagenes_2 .milk{
    display: flex;
    margin: -40px 0px 0px 110px ;
}
