@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family : "Inter_18pt-Regular";
}

header{
    height: 260px;
    background: linear-gradient(to bottom left, #111111, #313131  );
    justify-content: left;
    padding: 32px 24px 0px 24px ;
}

.localizacion{
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;

}
#locacion{
    font-family: "Sora-Regular";
    font-size: 12px;
    color: var(--color-8);
    padding-bottom: 12px;


}
.informacion__usuario{

    display: flex;
    flex-direction: row;
    align-items: center;
    

}
.informacion__usuario img{
    width: 17px;
    height: 17px;
    padding-left: 4px;
    object-fit: none;
}

.informacion__usuario p{
    font-family: "Sora-Semibold";
    color: var(--color-9);
    font-size: 14px;
}

.form__busqueda {
    overflow: hidden;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    margin-top: 10px;
}

.input__logo {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
}

.input__logo::before {

    content: url(../storage/img/Search-white.png);
    position: absolute;
    padding-left: 16px;
    object-fit: none;
}

.form__busqueda input[type="text"] {
    box-sizing: content-box;
    background: linear-gradient(to left, rgba(162, 162, 162, 0.1) -90%, #2A2A2A 45%);
    flex: 1;
    height: 100%;
    font-family: "Sora-Regular";
    font-size: 14px;
    color: var(--color-5);
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 0 50px 0 44px;

}

.form__busqueda input[type="text"]::placeholder {
    color: var(--color-8);
}

.boton__filtro button{
    background-color: var(--color-10);
    border: none;
    width: 52px;
    height: 52px;
    border-radius: 10px;
}
.promo{
    margin-top: 24px;
    width: 100%;
    height: 160px;
    background-image: url(../storage/img/Banner\ 1.png);
    position: relative;
    background-size: cover;
}


