@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family : "Inter_18pt-Regular";
}

header{
    height: 260px;
    background: linear-gradient(to bottom left, #111111, #313131  );
    justify-content: left;
    padding: 32px 24px 0px 24px ;
}

.localizacion{
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;

}
#locacion{
    font-family: "Sora-Regular";
    font-size: 12px;
    color: var(--color-8);
    padding-bottom: 12px;


}
.informacion__usuario{

    display: flex;
    flex-direction: row;
    align-items: center;
    

}
.informacion__usuario img{
    width: 17px;
    height: 17px;
    padding-left: 4px;
    object-fit: none;
}

.informacion__usuario p{
    font-family: "Sora-Semibold";
    color: var(--color-9);
    font-size: 14px;
}

.form__busqueda {
    overflow: hidden;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}

.input__logo {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  
}

.input__logo::before {
    content: url(../storage/img/Search-white.png);
    position: absolute;
    padding-left: 14px;
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.form__busqueda input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(to left, rgba(162, 162, 162, 0.1) -90%, #2A2A2A 45%);
    height: 54px;
    font-family: "Sora-Regular";
    font-size: 14px;
    color: var(--color-5);
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 0 50px 0 44px;
}

.form__busqueda input[type="text"]::placeholder {
    color: var(--color-8);
}

.boton__filtro {
    display: flex;
    align-items: center;
}

.boton__filtro button {
    display: flex;
    background-color: var(--color-10);
    justify-content: center;
    align-items: center;
    border: none;
    width: 54px;
    height: 54px;
    border-radius: 10px;
    position: relative;
}

.boton__filtro button img {
    width: 20px;
    height: 20px;
    position: static;
}

.promo {
    margin-top: 24px;
    width: 100%;
    height: 140px;
    background-image: url(../storage/img/Banner\ 1.png);
    position: relative;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 24px;
    border-radius: 20px;
 
}

.promo p {
    background-color: var(--color-11);
    font-family: "Sora-SemiBold";
    color: var(--color-6);
    font-size: 14px;
    padding: 4px 7px;
    border-radius: 7px;
    width: fit-content;
    top: 13px;
    position: absolute;
    
}

.promo strong {
    font-size: 32px;
    font-family: "Sora-SemiBold";
    width: fit-content;
    color: var(--color-6);
    background-image: url(../storage/img/Linea\ 1.png);
    background-repeat: no-repeat;
    background-position: 0% 110%;
}

