@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}
header{
    display: flex;
    justify-content: center;
}
.cafe {
    height: 468px;
    width: 702;
    
}

.titulo {
text-align: center;
color: var( --color-6);
font-family: "Sora-SemiBold";
font-size: 20px;
height: 150px;
}

